

<h1>My Profile</h1>

<form class="profile-form">
  <label>First Name</label>
  <input type="text" value="<%= user.account_firstname %>" disabled>

  <label>Email</label>
  <input type="email" value="<%= user.account_email %>" disabled>

  <label>Account Type</label>
  <input type="text" value="<%= user.account_type %>" disabled>
</form>

