

<h1>My Wishlist</h1>
<p>Here are the items you have added to your wishlist. You can move them to your cart for purchase.</p>
<p>this just a demo</p>

<ul class="wishlist">
  <li>
    <h3>2021 Toyota Corolla</h3>
    <p>₦4,500,000</p>
    <button>Move to Cart</button>
  </li>
  <li>
    <h3>Honda Civic (2022)</h3>
    <p>₦5,800,000</p>
    <button>Move to Cart</button>
  </li>
</ul>


