
<h1>CSE Motors</h1>
<p>Your Destination for Quality Cars</p>

<header>
  <div class="header-content">
    <!-- Logo and other header elements -->
    <nav>
      <ul>
        <!-- Other navigation items -->
        
        <% if (locals.user) { %>
          <li>
            <span class="welcome-msg">Welcome <%= user.account_firstname %></span>
          </li>
          <li>
            <a href="/account" class="account-link">Account Management</a>
          </li>
          <li>
            <a href="/logout" class="logout-link">Logout</a>
          </li>
        <% } else { %>
          <li>
            <a href="/account/login" class="account-link">My Account</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>