<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inv">Inventory</a></li>
    <li><a href="/account/login">Login</a></li>
    <li><a href="../support/my-tickets">Support</a></li>

  </ul>
</nav>
